body {
    padding: 0px;
    margin: 0px;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.font2 {
    font-family: 'Inter', sans-serif;
}

.global-padding {
    padding: 50px 105px;
}

.banner {
    color: white;
    text-align: center;
    position: relative;
}


.banner_img {
    background: linear-gradient(180deg, #070211 0%, #07021100 100%), url('../image/Banner\ Image.png');
    border-radius: 16px;
    height: 600px;
    width: 1320px;
}

.banner-title-small {
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 120px;
    left: 530px;
    margin-bottom: 0px auto;
}

.banner_title {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 0px auto;
    line-height: 95px;
    position: absolute;
    top: 170px;
    left: 344px;
    right: 300px;
}